
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

/* Import Google Fonts */
@use '_variables';
@use 'mixins';

// styles.scss
@use 'themes/theme-tokens';
@use 'themes/global.tokens';
@use 'themes/theme-generator';


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* Base Styles (keep your good structure) */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
  min-height: 100vh;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

